* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
}

.box1{
    width: 300px;
    height: 150px;
    background: rgb(194, 194, 3);
    border-radius:150px 150px 0px 0px ;
animation:box1 0.5s infinite alternate;
}
@keyframes box1 {
    to{
        transform: rotate(-30deg);
    }
}
.box2{
    width: 300px;
    height: 150px;
    background: rgb(194, 194, 3);

    border-radius:0px 0px 150px 150px ;
    /* border: 1px solid; */
    animation:box2 0.5s infinite alternate;

}
span{
    font-size: 60px;
    position: relative;
    left: 170px;
    top: 50px;
}
@keyframes box2 {
    to{
        transform: rotate(30deg);
    }
}
section{
    display: flex;
}
section div{
    font-size: 50px;
z-index: -1;
}
.tea{
    animation: tea 3s;
}
@keyframes tea {
    to{
        transform: translate(-73vw);
    }
}